.gradle
.DS_Store
/build/
!gradle/wrapper/gradle-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/
out
ngcloud-configclient/out/
ngcloud-configserver/out/
ngcloud-client/out
ngcloud-cloud/out




ngcloud-client/src/test/
ngcloud-cloud/src/test/
ngcloud-configclient/src/test/
ngcloud-configserver/src/test/
ngcloud-eureka/src/test/
ngcloud-gateway/src/main/java/com/heidsoft/controller/
ngcloud-gateway/src/test/
ngcloud-ribbon/src/test/
ngcloud-session/src/test/
ngcloud-web/package-lock.json
ngcloud-web/src/main/
ngcloud-web/src/test/
