.ng-header{
  background-color: #5c1ef9;
  z-index: 99;
}
.ng-header-title{
  font-size: 40px;
  margin: 0;
  color: var(--yellow);
  font-feature-settings: initial;
}

.ng-navbar{
  background-color: #5c1ef9;
  height: 768px;
  z-index: 99;
}
