<div class="container">
  <div class="row">
    <div class="col-md-4">
      <div class="card">
        <div class="card-header">
          vCenter
        </div>
        <div class="card-block">
          <div class="card-title">
            虚拟机
          </div>
          <div class="card-text">
            1024
          </div>
        </div>
        <div class="card-footer">
          <button class="btn btn-sm btn-link">资源控制台</button>
          <button class="btn btn-sm btn-link">分析资源</button>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <div class="card-header">
          Docker
        </div>
        <div class="card-block">
          <div class="card-title">
            容器
          </div>
          <div class="card-text">
            1004
          </div>
        </div>
        <div class="card-footer">
          <button class="btn btn-sm btn-link">资源控制台</button>
          <button class="btn btn-sm btn-link">分析资源</button>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <div class="card-header">
          OpenStack
        </div>
        <div class="card-block">
          <div class="card-title">
            虚拟机
          </div>
          <div class="card-text">
            76
          </div>
        </div>
        <div class="card-footer">
          <button class="btn btn-sm btn-link">资源控制台</button>
          <button class="btn btn-sm btn-link">分析资源</button>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4">
      <div class="card">
        <div class="card-header">
          阿里云
        </div>
        <div class="card-block">
          <div class="card-title">
            虚拟机
          </div>
          <div class="card-text">
            1024
          </div>
        </div>
        <div class="card-footer">
          <button class="btn btn-sm btn-link">资源控制台</button>
          <button class="btn btn-sm btn-link">分析资源</button>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <div class="card-header">
          亚马逊
        </div>
        <div class="card-block">
          <div class="card-title">
            S3
          </div>
          <div class="card-text">
            7
          </div>
        </div>
        <div class="card-footer">
          <button class="btn btn-sm btn-link">资源控制台</button>
          <button class="btn btn-sm btn-link">分析资源</button>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <div class="card-header">
          Azure
        </div>
        <div class="card-block">
          <div class="card-title">
            虚拟机
          </div>
          <div class="card-text">
            99
          </div>
        </div>
        <div class="card-footer">
          <button class="btn btn-sm btn-link">资源控制台</button>
          <button class="btn btn-sm btn-link">分析资源</button>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4">
      <div class="card">
        <div class="card-header">
          腾讯云
        </div>
        <div class="card-block">
          <div class="card-title">
            虚拟机
          </div>
          <div class="card-text">
            102
          </div>
        </div>
        <div class="card-footer">
          <button class="btn btn-sm btn-link">资源控制台</button>
          <button class="btn btn-sm btn-link">分析资源</button>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <div class="card-header">
          UCloud
        </div>
        <div class="card-block">
          <div class="card-title">
            虚拟机
          </div>
          <div class="card-text">
            103
          </div>
        </div>
        <div class="card-footer">
          <button class="btn btn-sm btn-link">资源控制台</button>
          <button class="btn btn-sm btn-link">分析资源</button>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <div class="card-header">
          青云
        </div>
        <div class="card-block">
          <div class="card-title">
            虚拟机
          </div>
          <div class="card-text">
            75
          </div>
        </div>
        <div class="card-footer">
          <button class="btn btn-sm btn-link">资源控制台</button>
          <button class="btn btn-sm btn-link">分析资源</button>
        </div>
      </div>
    </div>
  </div>
</div>
