<div class="login-wrapper">
  <form class="login" name="form" (ngSubmit)="login()" #f="ngForm" novalidate>
    <label class="title">
      heidsoft<span class="trademark">&#8482;</span>
      NgCloud&#174;
    </label>
    <div class="login-group">
      <div class="auth-source select">
        <select id="login-auth-source-1">
          <option>运维</option>
          <option>运维经理</option>
        </select>
      </div>
      <input class="username" type="text"   name="username" [(ngModel)]="model.username" #username="ngModel" required placeholder="Username">
      <input class="password" type="password"  name="password" [(ngModel)]="model.password" #password="ngModel" required placeholder="Password">
      <div class="checkbox">
        <input type="checkbox" id="rememberme">
        <label for="rememberme">
          记住我
        </label>
      </div>
      <!--<div class="error active">-->
        <!--用户名或密码错误-->
      <!--</div>-->
      <button type="submit" class="btn btn-primary">登录</button>
      <a [routerLink]="['/register']" class="signup">注册账号</a>
    </div>
  </form>
</div>
