<clr-tree-node [clrTreeNodeExpanded]="true">
  <b>服务目录</b>
  <clr-tree-node>
    <a
      [routerLink]="['/vmware']"
      class="clr-treenode-link"
      routerLinkActive="active">VMware虚拟机</a>
  </clr-tree-node>

  <clr-tree-node>
    <a
      [routerLink]="['/aws']"
      class="clr-treenode-link"
      routerLinkActive="active">AWS虚拟机</a>
  </clr-tree-node>

  <clr-tree-node>
    <a
      [routerLink]="['/aliyun']"
      class="clr-treenode-link"
      routerLinkActive="active">阿里虚拟机</a>
  </clr-tree-node>

  <clr-tree-node>
    <a
      [routerLink]="['/tree']"
      class="clr-treenode-link"
      routerLinkActive="active">虚拟机管理</a>
  </clr-tree-node>
</clr-tree-node>
<clr-tree-node [clrTreeNodeExpanded]="true">
  <b>SaaS申请</b>
  <clr-tree-node>
    <a
      [routerLink]="['/mysql']"
      class="clr-treenode-link"
      routerLinkActive="active">mysql</a>
  </clr-tree-node>
</clr-tree-node>
